html, body {
    height: 100%;
}

#window_container {
    display: flex;   
    justify-content: center;
    align-items: center;
    background-color: #272727;
    height:75vh;
    overflow-y: scroll;
}

#window {
    width: 900px;
    height: 400px;
    background:#edf5e1;
}

#waveform {
    background:#ff652f;
    height: 25%;
}

#midi_container {
    background-color: #0b5345 ;
    height:25vh;
    display: flex;
}

.audio_properties {
    background-color: #e7e7e7;
    height: 100%;
    position: relative;
    overflow-y: scroll;
}

#sample_list div{
    width: 100%;
    padding-left:15px;
    background-color:#14a76c;
    color: #FFFFFF;
    border-bottom: 1px solid #e7e7e7;
}

.active {
    background-color: #000000!important;
}

.keyboard_light {
    display: flex;
    justify-content: center;
    align-items: center;
}